@font-face {

	font-family:font1;

	src: url('../fonts/UTMHelveBold.ttf');
}
@font-face {

	font-family:font2;

	src: url('../fonts/UTMAndrogyne.ttf');
}
@font-face {

	font-family:font3;

	src: url('../fonts/UTMBeautifulCaps.ttf');
}
@font-face {

	font-family:font4;

	src: url('../fonts/UTMAmerikaSans.ttf');
}
.top1{
	background:url(../images/bgt1.png) no-repeat center;
	background-size:cover;
	padding-top:30px;
}
.p3t1{
	text-align:center;
	margin-top:310px;
	color:#FFF;
}
.btnsubmit{
	background:#2d7246;
	font-size:22px;
	padding:2px 15px 2px 15px;
	border-radius:10px;
}
.p1t1{
	display:block
}
.p2t1{
	display:none;
}
.top2{
	margin-top:-10px;
	font-size:18px;
	padding-bottom:20px;
}
.top3{
	background:url(../images/bgt3.png) no-repeat center;
	background-size:cover;
	padding-top:10px;
	font-size:18px;
	color:#FFF;
}
.p1t3{
	background:url(../images/t3c.png) left no-repeat;
	padding-left:20px;
}
.top5{
	background:url(../images/bgt5.png) no-repeat center;
	background-size:cover;
	font-size:20px;
	color:#FFF;
	padding-top:25px;
}
.p1t5{
	margin-top:-31px;
	margin-bottom:-1px;
	display:block
}
.p2t5{
	margin-bottom:-1px;
}
.top6 h4{
	background:#3e9366;
	font-family:font1;
	padding:15px;
	color:#FFF;
	text-align:center;
	border-radius:20px;
}
.p1t6{
	padding-top:25px;
}
.p2t6{
	padding-top:50px;
}
.top7{
	font-size:18px;
	background:#ebebeb;
}
@media all and (max-width: 768px) {
.top1{
	background:#279b69;
	padding-top:20px;
	padding-bottom:20px;
}
.p2t1{
	display:block
}
.p1t1{
	display:none;
}
.p3t1{
	text-align:center;
	margin-top:0px;
	color:#FFF;
	padding-left:30px;
	padding-right:30px;
}
.top3 h2{
	font-size:27px;
}
.top4 h2{
	font-size:27px;
}
.p1t5{
	display:none;
}
.p2t5{
	margin-bottom:-1px;
}
.p1t6{
	padding-top:0px;
}
.p2t6{
	padding-top:0px;
}