@font-face {
    src: url('../fonts/UTM Aptima.ttf');
    font-family: 'Aptima';
}
body {
    font-family: 'Aptima';
}
.menu {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        li {
            :hover {
                background-color: #c8c8c8;
            }
            a {
                font-size: 16px;
                padding: 25px 15px;
                display: block;
                color: #eaeaea;
                :hover {
                    color: #464646;
                }
            }
        }
    }
}
.bn-intro {
    background-image: url(../images/banner.png);
    background-position: center;
    .more {
        width: 270px;
        margin-left: 44px;
        text-align: center;
        margin-bottom: 22px;
        font-size: 20px;
        line-height: 1.4;
        font-style: italic;
    }
    .logo {
        padding-top: 37px;
        padding-left: 63px;
        img {
            object-fit: cover;
        }
    }
    .intro-content {
        padding-top: 67px;
        .title {
            font-size: 28px;
            text-align: center;
            line-height: 1.3;
            font-weight: 600;
            padding-bottom: 25px;
        }
        .price {
            padding-top: 20px;
            padding-bottom: 103px;
            p {
                font-size: 43px;
                font-style: italic;
                
            }
            button.btn.btn-large {
                font-size: 18px;
            padding: 7px 20px;
            background-color: #f857af;
            }
        }
    }
    .product-1 {
        padding-left: 63px;
        img {
            object-fit: cover;
            width: 100%;
        }
    }
    .product-1-content {
        h2 {
            font-size: 55px;
            color: #49d67e;
            font-weight: 600;
            padding-bottom: 42px;
        }
        p {
            font-size: 22px;
            text-align: center;
            font-weight: 600;
            line-height: 1.2;
        }
        .detail {
            margin-top: 74px;
            background-color: #f9d5df;
            border-radius: 5px;
            p {
                font-size: 18px;
                text-align: justify;
                padding: 25px 18px;
                
            }
        }
    }
    
}

.product-detail {
    
    h1 {
        font-size: 36px;
        padding: 55px 0px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .nd {
        font-size: 18px;
        text-align: justify;
        line-height: 1.3;
    }
    .illustruction {
        padding-bottom: 62px;
        p {
            color: #f85cb2;
            font-size: 26px;
            font-style: italic;
            float: right;
            line-height: 1.3;
        }
        img {
            object-fit: cover;
            width: 100%;
        }
    }
}
.solution {
    .icon {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        margin-bottom: 44px;
        img.fix {
            object-fit: cover;

        }
        
    }
    p.note {
        padding: 0px 5px 47px 134px;
    }
    .solution-content {
        h2 {
            font-size: 20px;
            font-weight: 600;
            padding: 15px 0;
        }
        p {
            font-size: 18px;
            line-height: 1.3;
            text-align: justify;
        }
    }
}

.tp {
    padding-bottom: 60px;
    img.product-4 {
        width: 100%;
        object-fit: cover;
        margin-top: 30px;

    }
    h2.text-center {
        font-size: 36px;
        font-weight: 600;
        padding: 65px 0px;
    }
    .tp-content {
        img {
            width: 100%;
            object-fit: 100%;
        }
        h2 {
            font-size: 24px;
            font-weight: 600;
            padding: 18px 0 10px 0;
        }
        p {
            font-size: 18px;
            line-height: 1.3;
            text-align: justify;
            padding-bottom: 20px;
        }
    }
}

.chapter-5 {
    background-image: url('../images/banner-2.png');
    background-size: cover;
    width: 100%;
    .contact {
        padding-top: 114px;
        padding-bottom: 100px;
        .form {
            table {
                tr {
                    td {
                        font-size: 19px;
                        padding: 5px 10px 0px 0px;
                        text-align: right;
                    }
                }
            }
            input {
                border:none;
            }
        }
        .logo-2 {
            p {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 600;
                padding-bottom: 20px;
            }
        }
    }
}
.form-2 {
    display: none;
}
@media only screen and ( max-width: 1024px) {
    .bn-intro .intro-content .price p {
        font-size: 29px;
    }
    .bn-intro .intro-content .price button.btn.btn-large {
        font-size: 13px;
        padding: auto;
    }
    .bn-intro .logo {
        text-align: center;
        margin:0 auto;
        padding: 20px 0;
    }
    .bn-intro .product-1-content h2 {
        text-align: center;
        font-size: 45px;
    }
    .bn-intro .product-1-content .detail {
        margin-top: 23px;
        margin-bottom: 30px;
    }
    .product-detail .illustruction {
        margin-top: 28px;
    }
    .solution img.icon {
        display: none;
    }
    img.logo-hide {
        display: none;
    }
    .solution-content {
        margin-bottom: 55px;
    }
    .solution .icon {
        margin-bottom: 30px;
    }
    .solution .icon img.fix {
        object-fit: cover;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .bn-intro .intro-content .price p {
        font-size: 29px;
        margin: 28px;
        text-align: center;
    }
    .solution p.note {
        padding: 0px 5px 11px 56px;
        display:none;
    }
    .form {
        display: none;
    }
    .form-2 {
        display:block;
        margin-bottom: 40px;
        input {
            margin-top: 10px;
        }
    }
    
}
@media only screen and (max-width: 537px ) {
    .menu {
        display: none;
    }
    img.icon-menu {
        display: block;
    }
    .bn-intro .more {
        display: none;
    }
}
@media only screen and (max-width: 427px ) {
    .bn-intro .intro-content .price p {
        font-size: 18px;
    }
}
.chapter-1 {
}
.icon-menu {
    position: relative;
    width: 80px ;
    right: 0px ;
    top: 0px;
    z-index: 1;
}
.menu-con {
    float: right;
    background-color: #464646;
    position: fixed;
    right: -200px;
    top: 0;
    height: 100%;
    width: 140px;
    z-index: 2;
    padding-top: 20px;
    transition: 0.5s;

    ul {
        
        li {
            a {
                font-size: 16px;
                padding: 10px 15px;
                display: block;
                color: #eaeaea;
            }
        }
    }
}
.menu-con.show {
    right: 0px;
  }
  
.icon-menu {
    display: none;
}