
.header {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // align-content: center;
    .main-menu {
        margin-top: 26px;
        ul {
            li {
                float: left;
                
                :hover {
                    background-color: #d3d3d3;
                }
                a {
                    padding: 25px 10px;
                    font-size: 18px;
                    color: #36353a;
                    background-color: #f5f5f5;
                    margin: 1px;
                    
                }
            }
        }
    }
}
.info {
    border: 6px solid #7fb546;
    border-bottom: none;
    margin-top: 7px;
    height: 500px;
    h1 {
        text-align: center;
        font-size: 78px;
        padding-top: 75px;
    }
    .widget-1 {
        margin-left: 202px;
        font-size: 26px;
    }
    .widget-2 {
        display: flex;
        padding-left: 120px;
        font-size: 16px;
        p {
            padding-left: 17px;
            font-weight: 600;
        }
    }
    .price {
        margin-top: 55px;
        padding-left: 18px;
        border-left: 3px solid #d1d1d1;
        margin-left: 93px;
        p {
            font-size: 20px;
        }
        span {
            font-size: 66px;
            color: #ff4e00;
        }
    }
}
.content {
    position: relative;
    height: 573px;
    img#product {
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: -194px;
    }
    button#btn {
        position: absolute;
        top: 268px;
        left: 164px;
        font-size: 25px;
        background-color: #ff4e00;
        padding: 7px 43px;
    }
    .nd {
        position: absolute;
        text-align: justify;
        padding: 10px;
        top: 364px;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.2;
    }
}
//css element

.element {
    margin-top: 160px;
    .element-thumb {
        img {
            width: 100%;   
            object-fit: cover;
        }
    }
    .element-content {
        padding-left: 70px;
        h1 {
            font-size: 48px;
            color: #ff4e00;
            padding-bottom: 49px;
        }
        p {
            font-size: 22px;
            line-height: 1.4;
        }
        button#btn {
            font-size: 25px;
            background-color: #ff4e00;
            padding: 5px 38px;
            margin-top: 33px;
        }
    }
}
.action {
    padding-top: 110px;
    .action-content {
        h1 {
            font-size: 48px;
            color: #ff4e00;
            padding-bottom: 60px;
        }
        .ac-list {
            padding-left: 65px;
            font-size: 22px;
            .widget-list-content {
                padding-left: 54px;
                padding-bottom: 24px;
                text-align: justify;
            }
        }
    }
    .action-thumb {
        margin-left: 186px;
        margin-top: 49px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}
// css footer
.form-group {
    padding-top: 25px;
    padding-bottom: 10px;
    input#inputEmail3 {
        /* padding: 14px; */
        margin: 11px 0px;
    }
}
textarea.form-control {
    margin-top: 36px;
}
.buy-now {
    margin-top: 35px;
    label {
        font-size: 18px;
        font-weight: 600;
        padding-right: 12px;
    }
    button#btn {
        font-size: 20px;
        background-color: #ff4e00;
        padding: 20px;
    }
}